h1{
    color: brown;
}
h6{
    color: orangered;
}

p{
    color: aqua;
    text-decoration: underline wavy red;
    height: 60px;
    background-color: #c2c2c2;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}